@layer theme,
  base,
  clerk,
  components,
  utilities; /* Ensure Clerk is compatible with Tailwind CSS v4 */

@import "tailwindcss";

@theme {
  --color-primary: #ac6aff;
  --color-background-light: #fafafa;
  --color-background-dark: #0e0c15;
  --color-card-dark: #191919;
  --color-surface-dark: #121212;
  --color-border-dark: rgba(255, 255, 255, 0.1);

  --color-accent-pink: #ff98e2;
  --color-accent-coral: #ff776f;
  --color-accent-yellow: #ffc876;
  --color-accent-emerald: #7adb78;
  --color-accent-blue: #858dff;

  --font-display: "Outfit", "Noto Sans TC", sans-serif;
  --font-body: "Outfit", "Noto Sans TC", sans-serif;
  --font-serif: "Instrument Serif", serif;
}
