@layer theme,
  base,
  clerk,
  components,
  utilities; /* Ensure Clerk is compatible with Tailwind CSS v4 */

@import "tailwindcss";

@theme {
  --color-primary: #136dec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101822;
  --color-card-dark: #1e293b;
  --color-surface-dark: #1c232d;
  --color-border-dark: #2d3748;

  --font-display: "Inter", "Noto Sans TC", sans-serif;
  --font-body: "Inter", "Noto Sans TC", sans-serif;
}
